* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-size: 16px;
    font-weight: 600;
}

.container {
    max-width: 1720px;
    padding: 0 20px;
    margin: 0 auto;
}

.header__top {
    margin-left: 740px;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 10px 0 33px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.menu__list {
    display: flex;
    gap: 40px;
    color: rgb(255, 20, 20);
}

.menu__link {
    color: aliceblue;
}

.header {
    width: 100%;
    height: 560px;
    background-color: black;
}

.imglogo {
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.imglogo img {
    border-radius: 40px;
}

.line {
    position: absolute;
    margin-top: 70px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1px;
}

.uslugi {
    width: 100%;
    height: 350px;
    background-color: black;
}

.usluga {
    position: absolute;
    color: aliceblue;
    background-color: black;
    margin: 80px 0px 0 620px;
}

.cut {
    position: absolute;
    color: aliceblue;
    padding: 10px 10px 20px 10px;
    height: 100px;
    width: 190px;
    background-color: rgb(24, 23, 23);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 150px 30px 0 565px;
}

.menu_items  {
   margin: 5px 0 0 5px;
}

.cut h3 {
    margin: 15px 0 0 40px;
}

.more {
    margin: 40px 30px 0 40px;
}

.otziv {
    margin-top: -115px;
    width: 100%;
    top: 0;
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.why {
    color: aliceblue;
    width: 100%;
    background-color: black;
    margin: 60px 0 30px 558px;
}

.tex1 {
    margin: 30px 20px 0 0;
}

.podbor {
    margin: 100px 40px 30px 0;
}

.back {
    top: 0;
    height: 200px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.text2 {
    margin: 50px 0 20px 0;
    display: flex;
    justify-content: center;
}

.work {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 250px);
    row-gap: 50px;
    column-gap: 170px;
}

.img1 {
    box-shadow: 10px 10px 40px 30px rgb(105, 105, 105);
}

.podbor {
    color: aliceblue;
    display: block;
    margin-inline: 40px;
    animation-name: fade-in;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    view-timeline-name: --fade-in-image;
    animation-timeline: --fade-in-image;
    animation-range: 10% 50%;
}

@keyframes fade-in {
    from {
        translate: -25vw;
        opacity: 0;
    }
    0% {
        rotate: 0deg;
    }
    ;
    100% {
        rotate: 360deg;
    }
    ;
}

#Signup {
    margin-top: 10px;
    width: 90px;
    height: 64px;
    background-color: rgb(36, 35, 35);
    color: aliceblue;
    border-radius: 25px;
    border: 1px solid rgba(61, 83, 79, 0.808);
}

.Singup {
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    margin: 20px 0 0 40px;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.315);
    border-radius: 29px;
    border: 1px solid rgb(83, 83, 83);
    height: 50px;
    width: 400px;
}

#input1 {
    margin: 20px 0 0 130px;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.315);
    border-radius: 29px;
    border: 1px solid rgb(83, 83, 83);
    height: 50px;
    width: 200px;
}

.form {
    background-color: transparent;
}

.backform {
    border-radius: 20px;
    margin: 0 0 0 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    background-color: rgb(39, 38, 38);
}

.slides p {
    color: rgb(122, 122, 122);
    display: none;
}

.slides .block {
    display: block;
    height: 50px;
}

.btn-right {
    width: 55px;
    height: 45px;
    border: 1px solid black;
    border-radius: 20px;
    background: #3b3b3b;
    color: aliceblue;
    margin: 10px 0 0 570px;
}

.btn-left {
    width: 55px;
    height: 45px;
    border: 1px solid black;
    border-radius: 20px;
    background: #3b3b3b;
    color: aliceblue;
    margin: 10px 0 0 50px;
}

.slides {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 270px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 20px;
    margin: 300px 0 0 520px;
}

.imgArthur img {
    border-radius: 20px;
    box-shadow: 0px 0px 60px 10px rgb(121, 119, 119);
    margin: 10px 0 30px 20px;
}

.tArthur {
    animation: anim 6s infinite linear;
    font-size: xx-large;
    position: absolute;
    margin: 100px 0 0 560px;
}

.aArthur {
    margin: 70px 0 0 0;
    width: 100%;
    height: 100%;
    background-color: rgb(61, 61, 61);
    box-shadow: 0px -20px 40px 30px rgb(61, 61, 61);
}

.img22 {
    position: absolute;
    margin: 0 0 0px 800px;
}

.img22 img {
    padding: 3px;
    border: 2px solid aliceblue;
}

.img11 {
    margin: 0px 0 0 0px;
}

.img11 img {
    padding: 2px;
    border: 2px solid rgb(145, 145, 145);
    width: 655px;
    height: 680px;
}

.himg {
    height: 560px;
    display: flex;
    align-items: center;
}

.logo {
    position: absolute;
    margin: 0 0 0 530px;
}

.price {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    width: 260px;
    background-color: rgb(185, 183, 183);
}

.name1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    width: 260px;
    background-color: rgb(189, 142, 142);
}

.aboutprice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 260px;
    background-color: rgb(255, 255, 255);
}

.dop {
    margin-top: 40px;
}

.name {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.name1 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal {
    top: 0;
    left: 0;
    position: fixed;
    border: 2px solid #d2cece;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: linear-gradient(to bottom, rgb(110, 109, 109), rgb(245, 186, 186));
    opacity: 0.9;
}

.modal-content {
    left: 300px;
    top: 100px;
    position: relative;
    width: 50%;
    height: 65%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: anim 0.5s;
}

.modal2 {
    top: 0;
    left: 0;
    position: fixed;
    border: 2px solid #d2cece;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: linear-gradient(to bottom, black, white);
    opacity: 0.9;
}

a {
    color: aliceblue;
}

.modal-content2 {
    left: 200px;
    top: 100px;
    position: relative;
    width: 40%;
    height: 25%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: anim2 0.5s;
}

@keyframes anim {
    from {
        top: -600px;
        opacity: 0.5;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes anim2 {
    from {
        top: -600px;
        opacity: 0.5;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal-header {
    position: absolute;
    margin-bottom: 370px;
}

@media screen and (max-width:450px) {
    .container1 {
        background-color: #000;
        width: 430px;
    }

    .podbor {
        color: aliceblue;
        display: block;
        margin-inline: 40px;
        animation-name: fade-in;
        animation-fill-mode: both;
        animation-timing-function: ease-in;
        view-timeline-name: --fade-in-image;
        animation-timeline: --fade-in-image;
        animation-range: 10% 70%;
    }

    .menu__list{
        display: flex;
        gap: 20px;
    }

    .price {
        height: 100%;
    }
    .name {
        margin: 100px 0 0 90px;
    }
    .name1 {
        margin: 100px 0 0 90px;
    }
    .aboutprice {
        margin: 0 0 0PX 90px;
    }
    html {
        height: 100%;
    }
    li {
        z-index: 1;
    }
    .img11 {
        display: none;
    }
    .img22 {
        width: 430px;
        height: 600px;
        margin: 0 0 0 0;
    }
    .img22 img {
        width: 100%;
        height: 100%;
        opacity: 0.1;
    }
    .logo {
        margin: 0 0 0 100px;
    }
    .header__top {
        width: 380px;
        margin: 0 0 0 10px;
        background-color: black;
    }
    .cut {
        margin: 150px 0 0 120px;
    }
    .usluga {
        margin: 100px 0 0 180px;
    }
    .why {
        width: 220px;
        margin: 87px 0 0 120px;
    }
    .otziv {
        display: grid;
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: repeat(2, 180px);
    }
    .otziv img {
        margin: 30px 0 0 20px;
    }
    .Singup {
        height: 400px;
        display: flex;
        align-items: end;
    }
    #Signup {
        margin-bottom: 20px;
    }
    .price {
        display: flex;
        flex-direction: column;
    }
    .work img {
        display: none;
        width: 130px;
        height: 130px;
    }
    .img1 {
        display: none;
        position: absolute;
        margin-right: 400px;
        box-shadow: 1px 1px 10px 10px white;
        width: 130px;
        height: 130px;
    }
    .work {
        display: none;
        margin-bottom: 100px;
        width: 100%;
        margin: 0 0 0 0px;
        background-color: black;
        margin-right: 50px;
        display: grid;
        grid-template-columns: repeat(2, 70px);
    }
    .work2 {
        display: none;
        margin-bottom: 100px;
        width: 100%;
        background-color: black;
        margin-right: 50px;
        display: grid;
        grid-template-columns: repeat(2, 70px);
        gap: 50px;
    }
    .text2 {
        display: none;
        margin-top: 1px;
        width: 100%;
        background: #000;
        color: aliceblue;
        height: 200px;
    }
    .modal-content {
        height: 460px;
        top: 30px;
        left: 13px;
        width: 400px;
    }
    #input {
        scale: 0.96;
        margin: 20px 0 0 0;
    }
    .modal-body h2 {
        margin: 10px 0 0 6px;
    }
    .modal-body h3 {
        margin: 10px 0 0 126px;
    }
    .modal-header h2 {
        margin: 0 0 30px 30px;
    }
    #input1 {
        margin: 20px 0 0 100px;
    }
}